.Heading{
  font-family:cursive;
  color: DarkCyan;
  background-image: url("http://www.free-printable-flags.com/printable-world-flags/europe/greece.gif");
}

}
ul{
  font-family: cursive;
}
img{
  width: 550px;
  height: 375px;
}
